# Configuración de Telegram
# Reemplaza con el token de tu bot de Telegram (ej. 123456789:ABCdefGhI...)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Reemplaza con tu Chat ID o ID del grupo/canal donde llegará el mensaje (ej. -100123456789)
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
